<h1>ORDER HISTORY</h1>
Here are your Orders - click on the Order # to see details
<% Order.all.select{|order| order["user_id"] == current_user.id }.each do |order| %>
  <p><a href="/orders/<%= order.id %>">Order #: <%= order.id %></a> Store:  <%= @store.store_name %> <%= order.order_total %><br>
  Ordered by: <%= @user.name %></p> <br>
<%end%><br><br>

<%# GO TO USER HOMEPAGE %>
<form action="/users/index" method="get">
  <input type="submit" value="User Homepage">
</form><br>
