<h1>NEW ORDER</h1>
<form action="/orders/new" method="POST">
<% Burrito.all.each do |burrito| %>
  <input id="<%= burrito.id %>" type="hidden" name="burritos[][id]" value="<%= burrito.id %>">
  <label for="burritos[][id]"><%= burrito.id %>: <%= burrito.name %><br> 
    <%= burrito.description %><br>
    <%#binding.pry%>
    $<%= '%.2f' % burrito.price %><br><br>
  </label> 
    Quantity: <input type="number" name="burritos[][quantity]" id="quantity" min="0"><br><br><br>
<%end%>
  <input type="submit" value="Submit">
</form><br>
<%# GO TO USER HOMEPAGE %>
<form action="/users/index" method="get">
  <input type="submit" value="User Homepage">
</form>
