Order Information 
<%# List order info %>
<p>Order #: <%= params[:id] %></a> Store: <%= @store.store_name %><br> 
Order Total: $<%=  '%.2f' % @order.order_total %><br>
Ordered by: <%= @user.name %></p> 

<%# list order items %>
<%# I had to add in an item count due to how I am saving the quantity%>
<% item_count = 1%>
<%@order.burritos.each do |burrito| %>
  <%= burrito.id %>: <%= burrito.name %>, Quantity: <%= @order.order_burritos[item_count].quantity %>, Price: $<%=  '%.2f' % burrito.price %><br>
  Item Total: $<%=  '%.2f' % (@order.order_burritos[item_count].quantity  * burrito.price) %><br><br>
  <%item_count += 1%>
<% end %>
<%# BACK TO ORDER HISTORY %>
<form action="/orders/history" method="get">
  <input type="submit" value="Back to Order History">
</form><br>
<%# GO TO USER HOMEPAGE %>
<form action="/users/index" method="get">
  <input type="submit" value="User Homepage">
</form>